/* universal styles */

html {
  font-size: 18px;
}

body {
  line-height: 1.2;
}

/* header styles */

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 64px;
  margin:0 24px 0 24px;
}

.headerlogo {
  display: flex;
  align-items: center;
}

.logochild {
  display: flex;
  height: 32px;
}

.logochild img {
  width: 32px;
  height: 32px;
}

.headerlogo h1 {
  display: flex;
  align-items: center;
}

.headerlogo .colmar {
  font-weight: bold;
  font-size: 1.35rem;
}

.headerlogo .academy {
  color: #9b9b9b;
  font-size: 1.35rem;
}

header nav {
  display: flex;
  align-items: center;
}

header nav span {
  margin-left: 16px;
  font-size: 1.35rem;
}

.headernav {
  text-decoration: none;
  color: inherit;
}

.headernav:visited {
  color: inherit;
}

/* banner section */

.banner {
  display: flex;
  background-color: #d8d8d8;
  height: 900px;
}

.banner img {
  margin: 32px 24px;
  width: 60%;
  height: auto;
}

.bannerinfo {
  display: flex;
  margin: 170px 100px 250px 0;
  flex-direction: column;
  justify-content: space-between;
}

.banner h2 {
  font-size: 4rem;
  font-weight: bold;
}

.banner h3 {
  font-size: 2.5rem;
}

.banner .button {
  color: white;
  text-align: center;
  background-color: #4a4a4a;
  padding: 8px 0;
  width: 90%;
  font-size: 1.7rem;
}

.banner .button a:visited {
  color: white;
}

.banner .button {
  text-decoration: none;
}


/* information styles */

.information {
  display: flex;

}

.infomain {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px;
  border-right: 2px solid #d8d8d8;
  flex-grow: 1;
}

.infomain img {
  margin-bottom: 32px;
  width: 100%;
}

.infomain h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.infomain p {
  font-size: 1.5rem;
  font-weight: 400;
}

.infomain .quote {
  font-size: 1.3rem;
  padding-top: 62px;
  font-weight: 500;
}


.infosection {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
  width: 40%;
  flex-grow: 1;
}

.orientation, .campus, .guest {
  display: flex;
  padding: 32px 0 16px 16px;
  border-bottom: 2px solid #d8d8d8;
}

.orientation img, .campus img, .guest img {
  max-width: 35%;
  padding-right: 24px;
  height: auto;
}

.infotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 65%;
}

.infotext h3 {
    font-size: 2.5rem;
}

.infotext p {
    font-size: 1.5rem;
    padding: 8px 0;
}

.guest {
  background-color: #d8d8d8;
}

.infobutton {
  text-decoration: none;
  font-size: 1.5rem;
}

/* courses section */

.coursecontainer {
  display: flex;
  flex-direction: column;
  background-color: #d8d8d8;
  align-items: center;
}

.courseheader {
  margin: 32px 0;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  margin: 0 72px;

}

.course {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  margin-bottom: 32px;
  flex-grow: 1;
}

.computerart, .design, .business, .marketing {
  margin-left: 32px;
}

.course img {
  height: auto;
}

.textbox {
  display: flex;
  flex-direction: column;
  padding: 16px 0 24px 16px;
  background-color: white;
  flex-grow: 1;

}

.course h4 {
  margin: 8px 0;
}

/* thesis section */

.thesisheader {
  margin: 32px 0;
  text-align: center;
}

.thesis {
  display: flex;
  border-bottom: 1px solid #d8d8d8;
}

.thesismain {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 24px 0 24px;

}

.thesismain video {
  margin-bottom: 24px;
}

.thesismain h3 {
  margin-bottom: 8px;
}

.thesismain p {
  margin-bottom: 32px;
}

.thesissection {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.thesisbox {
  display: flex;
}

.thesisbox img {
  width: 35%;
  height: auto;
  margin: 16px 16px;
}

.thesistext {
  display: flex;
  flex-direction: column;
  width: 65%;
  align-items: center;
  justify-content: center;
}

.fisma {
  background-color: #d8d8d8;
}
/* footer section */

footer {
  display: flex;
  margin: 16px 24px 0 24px;
  justify-content: space-between;
}
